<html>
<head>
<title>AwayNews</title>
<!-- CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<body>
	<header>
		<nav class="navbar navbar-light bg-light">
			<span class="navbar-brand mb-0 h1" style="font-weight: bold;">AwayNews</span>
		</nav>
	</header>

	<section>
		<div class="container" style="width: 60%; padding-bottom: 30px;">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
					<li class="breadcrumb-item active" aria-current="page">Posts</li>
				</ol>
			</nav>
			
			<div class="card shadow-sm bg-white rounded" style="margin-top: 20px;">
				<div class="card-body">
					teste
				</div>
			</div>

		</div>
	</section>
</body>

</html>